:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: auto;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  width: 80%;
  max-width: 600px;
}
.todo-list-container {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  gap: 20px;
}
.list {
  display: flex;
  margin-top: 30px;
  flex-direction: row;
  gap: 12px;
}

.delete-button {
  padding: 10px 20px;
  font-size: 16px; /* Font size */

  /* Customizing shape */
  border-radius: 5px; /* Border radius to make it slightly rounded */

  /* Other styles */
  background-color: #007bff; /* Button background color */
  color: white; /* Text color */
  border: none; /* Remove default border */

  /* Optional: Hover effect */
  transition: background-color 0.3s;
}

.input-container > input {
  width: 2.5 rem;
  height: 2 rem;
  flex: none;
}
